@font-face {
    src: url(../Fonts/Lobster_1.4.ttf);
    font-family: Lobster;
}

* {
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: #f2f2f2;
}

body {
  background-image: url(../Image/Background_Sweet_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

/* header */
.header {
  background-color: #FFAAEC;
  padding: 10px;
}

.header img{
width: 120px;
}

.LineDesign_1 {
  background-color: #EB81DC;
  padding: 0px;
  height: 10px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #FFAAEC;
}

.topnav .active {
    background-color: white;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #E377D9;
  border-radius: 9px;
  margin-right: 50px;
  margin-top: 3%;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*Sets color for active tab/section*/
.topnav .active {
    background-color: white;
    color: black;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the Bellow navigation bar*/
.topnav1{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.topnav1 .active {
    background-color: white;
}

/* Style the topnav links */
.topnav1 a{
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #C116C1;
  border-radius: 9px;
  margin-right: 20px;
  margin-top: 3%;
  margin-bottom: 2%;
}

/* Change color on hover */
.topnav1 a:hover {
  background-color: #ddd;
  color: black;
}

/*Sets color for active tab/section*/
.topnav1 .active {
    background-color: white;
    color: black;
}

/* Change color on hover */
.topnav1 a:hover {
  background-color: #ddd;
  color: black;
}

/* Card */
.card {
  padding: 10px;
  height: 1050px;
}

/*Third Layer*/
.card_2{
  position: relative;
  padding: 10px;
  width: 96%;
  margin: 2%;
  background-color: rgba(255,146,255,0.8);
  border-radius: 50px;
}

.menu {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

p{
  text-align: center;
  font-size: 3.5vmin;
}

.card_2 img{
   width: 75%;
   border: 10px solid black;
   border-color: rgba(254,201,254,0.7);
   border-radius: 2%;
   margin-top: 55px;
}

.Image{
  width: 100%;
  padding: 1%;
}

/* Style the footer */
.footer {
  background-color: #FFAAEC;
  padding: 1px;
  padding-top: 2%;
  padding-bottom: 5.5%;
  height: 95px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}

.Buttom_Text{
  padding: 10px;
}

.LineDesign_2 {
  background-color: #EB81DC;
  padding: 0px;
  height: 10px;
}

.LineDesign_3 {
  background-color: white;
  padding: 0px;
  height: 10px;
}

/*CHECK BOX*/
.container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 75px;
  margin-top: 75px;
  height: 35px;
  width: 35px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 13px;
  top: 8.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}